/* You can add global styles to this file, and also import other style files */

/* Custom properties */
:root {
  --background-color-default: #22272e;
  --text-color-default: #adbac7
}

body {
  background-color: var(--background-color-default);
  color: var(--text-color-default);
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  min-height: 100%;
  margin: 0;
}

.lem-main {
  display: flex;
  height: 100vh;
}

.menu-wrapper {
  display: flex;
  float: left;
  border-right: gray solid 1px;
}

.menu-wrapper a {
  text-decoration: none;
  color: var(--text-color-default);
}

.header-and-content {
  width: 100%;
  overflow-x: hidden;
}

.header-wrapper {
  display: block;
  width: 100%;
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
  overflow: hidden;
}

.lem-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding-left: 1rem;
  padding-right: 1rem;
  border-bottom: 1px solid;
  border-color: var(--gray-700);
}

.lem-header .header-item {
  /*width: 8.3333%;*/
  width: 8rem;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-color: var(--gray-700);
  border-left: 1px solid;
}

.tab-content {
  display: block;
  margin-left: 1rem;
  width: 100%;
}

.sign-in {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.password-input {
  border-radius: 0px !important;
}
