<aside class="flex flex-column align-items-center h-full overflow-hidden w-12rem">
  <a class="flex align-items-center w-full px-3 mt-3 justify-content-center" href="#" style="text-decoration: inherit;" routerLink="/home">
    <!-- Dodaj obrazek dla LEM -->
    <!--  <svg></svg>-->
    <i class="pi pi-prime" style="font-size: 1.5rem; color: white;"></i>
<!--    <i class="pi pi-th-large"></i>-->
    <span class="ml-2 text-sm font-bold">LEM</span>
  </a>
  <div class="w-full px-2">
    <div class="flex flex-column align-items-center w-full mt-3 border-top-1 border-gray-700">
      <a class="flex align-items-center w-full h-3rem px-3 mt-2 border-round hover:bg-gray-700 hover:text-gray-300" href="#" routerLink="/home">
        <svg class="w-6 h-2rem" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="white">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" />
        </svg>
        <span class="ml-2 text-sm font-medium">Dashboard</span>
      </a>
      <a class="flex align-items-center w-full h-3rem px-3 mt-2 border-round hover:bg-gray-700 hover:text-gray-300" href="#" routerLink="/processes">
        <svg class="w-6 h-2rem" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="white">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 8v8m-4-5v5m-4-2v2m-2 4h12a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v12a2 2 0 002 2z" />
        </svg>
        <span class="ml-2 text-sm font-medium">Processes</span>
      </a>
      <a class="flex align-items-center w-full h-3rem px-3 mt-2 border-round hover:bg-gray-700 hover:text-gray-300" href="#" routerLink="/logs">
        <div class="w-4 h-2rem ml-4">
          <i class="pi pi-align-justify" style="font-size: 1.5rem; width: 32px; color: white"></i>
        </div>
        <span class="ml-2 text-sm font-medium">Logs</span>
      </a>
    </div>
    <div class="flex flex-column align-items-center w-full mt-2 border-top-1 border-gray-700">
      <a class="flex align-items-center w-full h-3rem px-3 mt-2 border-round hover:bg-gray-700 hover:text-gray-300" href="#" routerLink="/settings">
        <svg class="w-6 h-2rem"  xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="white">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6V4m0 2a2 2 0 100 4m0-4a2 2 0 110 4m-6 8a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4m6 6v10m6-2a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4" />
        </svg>
        <span class="ml-2 text-sm font-medium">Settings</span>
      </a>
    </div>

  </div>
</aside>
